

.stage{
    width: 500px;
    height: 300px;
    background-color: lightskyblue;
}
.ball{
    width: 100px;
    height: 100px;
    background-color: limegreen;
    border-radius: 50%;
    position:absolute;
    /* animation: name duration timing-function delay iterartion-count direction fill-mode */
    animation: sliding 2s ease-in-out 0.5s infinite alternate ;
    animation-play-state: running;
    
}
@keyframes sliding {
    0%{
        left:0px;
        top:0px;
        background-color: yellow
    }   
    25%{
        background-color: red;
        top:280px;
    }
    50%{
        top:0px;
        background-color: yellow;
    }
    75%{
        top:200px;
    }
    100% {
        background-color: red;
        left:400px;
        top:0px;
    }
}